  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {% include favicon.html %}
  <meta name="keywords" content="raja trucking llc, dfw trucking carrier, west south central freight transportation, fort worth freight transport" />

  {% seo %}

  <title>{{ page.title }}</title>

  <script src="{{ site.baseurl }}/assets/js/loadcss.min.js" type="text/javascript"></script>
  <script id="loadcss">
    loadCSS( "https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css");
  </script>

  <!--<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />-->
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />

  <noscript>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css" />
  </noscript>

  {% include css/head_styles.css %}
