/*
 *
 * Colours
 *
 */

// Global
  $active: #4495d4;

// Navbar Desktop
  $nav-desk-bg: #fafafa;
  $nav-desk-border:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);

  $nav-desk-title: #111;
  $nav-desk-links: #222;
  $nav-desk-link-before: $active;

// Nav Mobile - Slideout Menu
  $mob-nav-menu: #1d1f20;

  $mob-menu-a: #fff;
  $mob-menu-i: $mob-menu-a;

  $mob-panel_before-bg: rgba(0,0,0,0);
  $mob-panel-open_before-bg: rgba(0,0,0,.5);

// Nav Mobile - Navbar
  $mob-nav-head-bg: $nav-desk-bg;
  $mob-nav-head-shadow: $nav-desk-border;

  $mob-nav-title: #444444;

  $hamburger_after: #a5a5a5;
  $toggle-float_hover: white;
  $toggle-float_hover-bg: #555;

  $hamburger-active-bg: #474747;

  $hamburger-cancel-x: #000000;

// Footer

  $footer-bg: #1d1f20;


// Colour Declorations

/*
  $black // Secondary - Text
  $black--lighter // Weak
  $black--darker // Strong

  $white // Primary - Background
  $white--lighter
  $white--darker

  $grey
  $grey--lighter
  $grey--darker

  $accent-1
  $accent-1--lighter
  $accent-1--darker

  $accent-2
  $accent-2--lighter
  $accent-2--darker

  $link
  $link--lighter // Hover
  $link--darker // Visited

*/
