
html {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "kern";

  font-size: 85%;
  line-height: 1.6;

  @media (min-width: 521px) {
    font-size: 100%;
  }

  @media (min-width: 1350px) {
    font-size: 115%;
  }
}

@include headings;
@include body;
@include content;

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  color: #333333;
}


h2 {
  font-size: 1.9531rem;
  line-height: 2.7rem;
  margin-bottom: 1.53rem;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.8rem;
  margin-bottom: 1.53rem;
}

nav, footer {
  font-family: 'Open Sans', sans-serif;
}

section p {
  font-weight: 500;
}

.hero-carousel__cell__content h1 {
  font-family: 'Open Sans', sans-serif;
}

.llc { font-size: .9em; }

.intro p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 1.9125rem;
}

.services p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 3.06rem;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}



#services-wrapper {
  &:after {
    content: ' ';
    display: block;

    border-color: lighten(#000, 80%);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    margin-bottom: 2.11765em;
    padding-bottom: 1.35294em;
    height: 0;

  }

  #services-list ul {
    margin-left: .5em;
   }
}
