  <ul id="menu" class="side-nav">
    <div id="mob-side-menu">


        <div id="mob-side-menu-top">

          {% if page.active == "home" %}
            <li>
              <a class="active ripple" href="{{ site.baseurl }}/">
                <i class="fa fa-home fa-fw fa-1x ic-menu-left" aria-hidden="true" aria-label="Home"></i>
                Home
              </a>
            </li>
          {% else %}
            <li>
              <a class="ripple" href="{{ site.baseurl }}/">
                <i class="fa fa-home fa-fw fa-1x ic-menu-left" aria-hidden="true" aria-label="Home"></i>
                Home
              </a>
            </li>
          {% endif %}

          {% if page.active == "services" %}
            <li>
              <a class="active ripple" href="{{ site.baseurl }}/services/">
                <i class="fa fa-truck fa-fw fa-1x ic-menu-left" aria-hidden="true"></i>
                Services
              </a>
            </li>
          {% else %}
            <li>
              <a class="ripple" href="{{ site.baseurl }}/services/">
                <i class="fa fa-truck fa-fw fa-1x ic-menu-left" aria-hidden="true"></i>
                Services
              </a>
            </li>
          {% endif %}

          {% if page.active == "contact" %}
            <li>
              <a class="active ripple" href="{{ site.baseurl }}/contact/">
                <i class="fa fa-phone fa-fw fa-1x ic-menu-left" aria-hidden="true"></i>
                Contact
              </a>
            </li>
          {% else %}
            <li>
              <a class="ripple" href="{{ site.baseurl }}/contact/">
                <i class="fa fa-phone fa-fw fa-1x ic-menu-left" aria-hidden="true"></i>
                Contact
              </a>
            </li>
          {% endif %}

        </div>


        <!--<div id="mob-side-menu-bottom">
          <ul>
            <li>
              <script>
                var pho = '+1' + ' ' + '(817)' + ' ' + '237-' + '42' + '1' + '3';

                var pho_mat = '+1' + '817' + '237' + '42' + '1' + '3';

                document.write( '<i class="fa fa-phone fa-fw ic-menu-left" aria-hidden="true" aria-label="Phone number"></i>'
                 + '<a href="' + 'tel:' + pho_mat + '">' + pho + '</a>' + '<br />');
              </script>
            </li>

            <li>
              <script>
                var adr = '2555' + ' ' + 'Bluemound' + ' ' + 'Rd.' + ' ' + '<abbr title="West">W.</abbr>' + '<br />' + ' ' + 'Haslet,' + ' ' + '<abbr title="Texas">TX</abbr>' + ' ' + '76052' + ' ' +'USA';

                var goog_adr = 'https://' + 'www.' + 'goo.gl/maps/' + 'xK4ZKLB1ge52';

                document.write( '<i class="fa fa-map-marker fa-fw ic-menu-left" aria-hidden="true" aria-label="Buiness street address"></i>'
                + '<a href="' + goog_adr+ '">' + adr + '</a>');
              </script>
            </li>
          </ul>
        </div>-->

        <!--
        <div id="mob-side-menu-bottom-icon-bar">
          <ul>
            <li><i class="fa fa-phone fa-fw fa-1x" aria-hidden="true"></i></li>
            <li><i class="fa fa-map-marker fa-fw fa-1x" aria-hidden="true"></i></li>
          </ul>
        </div>
        -->

    </div>
  </ul>
