

        <ul class="foot-nav">
          <li class="foot-copyr foot-nav-item">
            <a href="#">&copy; {{ site.time | date: '%Y' }} &nbsp;Raja Trucking</a>
            <a class="foot-copyr-sub" href="#">LLC</a>
          </li>

          <li class="foot-invisible"></li>

          <div class="foot-float-right">
            {% if page.active == "home" %}
              <li class="foot-nav-item foot-nav-right">
                <a class="active a-highlight" href="{{ site.baseurl }}/">Home</a>
              </li>
            {% else %}
              <li class="foot-nav-item foot-nav-right">
                <a class="a-highlight" href="{{ site.baseurl }}/">Home</a>
              </li>
            {% endif %}
            <!--{% if page.active == "about" %}
              <li class="foot-nav-item foot-nav-right">
                <a class="active a-highlight" href="{{ site.baseurl }}/about">About</a>
              </li>
            {% else %}
              <li class="foot-nav-item foot-nav-right">
                <a class="a-highlight" href="{{ site.baseurl }}/about">About</a>
              </li>
            {% endif %}-->
            {% if page.active == "services" %}
              <li class="foot-nav-item foot-nav-right">
                <a class="active a-highlight" href="{{ site.baseurl }}/services">Services</a>
              </li>
            {% else %}
              <li class="foot-nav-item foot-nav-right">
                <a class="a-highlight" href="{{ site.baseurl }}/services">Services</a>
              </li>
            {% endif %}
            {% if page.active == "contact" %}
              <li class="foot-nav-item foot-nav-right">
                <a class="active a-highlight" href="{{ site.baseurl }}/contact">Contact</a>
              </li>
            {% else %}
              <li class="foot-nav-item foot-nav-right">
                <a class="a-highlight" href="{{ site.baseurl }}/contact">Contact</a>
              </li>
            {% endif %}
          </div>
        </ul>
