  <nav class="nav-desk">
    <div class="container">
      <ul class="nav-desk-list">
        <li class="nav-desk-title">
          <a class="nav-desk-title" href="#">Raja Trucking</a>
        </li>
        <li class="nav-desk-item">
          <a class="nav-desk-link" href="{{ site.baseurl }}../">Home</a>
        </li>
        <li class="nav-desk-item">
          <a class="nav-desk-link" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="nav-desk-item">
          <a class="nav-desk-link" href="{{ site.baseurl }}/services">Services</a>
        </li>
        <li class="nav-desk-item">
          <a class="nav-desk-link" href="{{ site.baseurl }}/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="menu" id="menu">
    <div class="container">
      <ul class="menu-list">
        <li class="menu-title">
          <a class="nav-title" href="#">Raja Trucking</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="{{ site.baseurl }}../">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="{{ site.baseurl }}/services">Services</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="{{ site.baseurl }}/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
