
          <ul class="nav-desk-list">
            <a class="nav-desk-title" href="#">Raja Trucking</a>
            <a class="nav-desk-title nav-desk-title-sub">LLC</a>

            <li class="nav-desk-invisible"></li>
              {% if page.active == "home" %}
                <li class="nav-desk-item active">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/">Home</a>
                </li>
              {% else %}
                <li class="nav-desk-item">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/">Home</a>
                </li>
              {% endif %}
              {% if page.active == "about" %}
                <li class="nav-desk-item active">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/about">About</a>
                </li>
              {% else %}
                <li class="nav-desk-item">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/about">About</a>
                </li>
              {% endif %}
              {% if page.active == "services" %}
                <li class="nav-desk-item active">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/services">Services</a>
                </li>
              {% else %}
                <li class="nav-desk-item">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/services">Services</a>
                </li>
              {% endif %}
              {% if page.active == "contact" %}
                <li class="nav-desk-item active">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/contact">Contact Us</a>
                </li>
              {% else %}
                <li class="nav-desk-item">
                  <a class="nav-desk-link" href="{{ site.baseurl }}/contact">Contact Us</a>
                </li>
              {% endif %}
          </ul>

      <nav class="menu" id="menu">
        <div class="container">
          <ul class="menu-list">

            <li class="menu-title">
              <!--<a href="#">Raja Trucking</a><a class="menu-title-sub">LLC.</a>-->
              <!--<img src="{{site.baseurl}}/assets/img/raja-favicon-color-whitebg.png" class="u-img-responsive" />-->
            </li>

            {% if page.active == "home" %}
              <li class="active">
                <i class="fa fa-home fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
                <a class="menu-link" href="{{ site.baseurl }}/">Home</a>
                <i class="fa fa-angle-double-right fa-2x ic-menu-right" aria-hidden="true"></i>
              </li>
            {% else %}
            <li>
              <i class="fa fa-home fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
              <a class="menu-link" href="{{ site.baseurl }}/">Home</a>
            </li>
            {% endif %}
            {% if page.active == "about" %}
              <li class="active">
                <i class="fa fa-info-circle fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
                <a class="menu-link" href="{{ site.baseurl }}/about">About</a>
                <i class="fa fa-angle-double-right fa-2x ic-menu-right" aria-hidden="true"></i>
              </li>
            {% else %}
            <li>
              <i class="fa fa-info-circle fa-fw ic-menu-left fa-2x" aria-hidden="true">
              </i><a class="menu-link" href="{{ site.baseurl }}/about">About</a>
            </li>
            {% endif %}
            {% if page.active == "services" %}
              <li class="active">
                <i class="fa fa-truck fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
                <a class="menu-link" href="{{ site.baseurl }}/services">Services</a>
                <i class="fa fa-angle-double-right fa-2x ic-menu-right" aria-hidden="true"></i>
              </li>
            {% else %}
              <li>
                <i class="fa fa-truck fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
                <a class="menu-link" href="{{ site.baseurl }}/services">Services</a>
              </li>
            {% endif %}
            {% if page.active == "contact" %}
              <li class="active">
                <i class="fa fa-phone fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
                <a class="menu-link" href="{{ site.baseurl }}/contact">Contact</a>
                <i class="fa fa-angle-double-right fa-2x ic-menu-right" aria-hidden="true"></i>
              </li>
            {% else %}
            <li>
              <i class="fa fa-phone fa-fw ic-menu-left fa-2x" aria-hidden="true"></i>
              <a class="menu-link" href="{{ site.baseurl }}/contact">Contact</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </nav>
