<div id="navigation-bar">
    <div id="mobile-menu-toggle" class="sb-toggle-left"></div>
    <ul id="top-menu">
        <li>Menu Item</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
</div>

  <nav class="menu" id="menu">
    <div class="container">
      <ul class="menu-list">
        <li class="menu-title">
          <a class="nav-title" href="#">Raja Trucking</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/index.html">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/about.html">About</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/services.html">Services</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/contact.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
