        <ul id="menu" class="side-nav">
          <div class="container">
            <li>
              <a class="slide-title" href="{{ site.baseurl }}/">
                <i class="fa fa-home fa-fw fa-1x" aria-hidden="true" aria-label="Home"></i>
                Home
              </a>
            </li>

            <li>
              <a class="" href="{{ site.baseurl }}/about/">
                <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>
                About
              </a>
            </li>

            <li>
              <a class="" href="{{ site.baseurl }}/services/">
                <i class="fa fa-truck fa-fw fa-1x" aria-hidden="true"></i>
                Services
              </a>
            </li>

            <li>
              <a class="" href="{{ site.baseurl }}/contact/">
                <i class="fa fa-phone fa-fw fa-1x" aria-hidden="true"></i>
                Contact
              </a>
            </li>
          </div>
        </ul>
