.contact {
  background-color: $background;
}

#map {
  // position: relative;

  & iframe {
    // left: 0;
    // top: 0;
    // height: 100%;
    width: 100%;
    // position: absolute;
  }
}


#gotcha {
  display: none;
}


.thanks-menu > .menu-list > li > a {
  display: inline-block;
}


.thanks .blackbox {
  margin-bottom: 10%;
}
