.has-bg-img {
  background-size: cover;
  background: url('../../assets/img/trucks/blue_grad/blue-grad-mobile.jpg') center center;


  @media screen and (min-width: $tablet) {
    background: url('../../assets/img/trucks/blue_grad/blue-grad-tablet.jpg') center center;
  }

  @media screen and (min-width: $desktop) {
    background: url('../../assets/img/trucks/blue_grad/blue-grad-desktop.jpg') center center;
  }

  @media screen and (min-width: $fullhd) {
    background: url('../../assets/img/trucks/blue_grad/blue-grad-fullhd.jpg') center center;
  }

}


.brand-logo {
  background: url('../../assets/img/white-logo.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
