.has-bg-img {
  background: url('../../assets/img/trucks/blue_2_gradient_60.jpg') center center;
  background-size: cover;
}


.brand-logo {
  background: url('../../assets/img/logo.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
