.has-bg-img {
  background: url('../../assets/img/trucks/blue_2_radial_grad_75.jpg') center center;
  background-size: cover;
}


.brand-logo {
  background: url('../../assets/img/white-logo.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
