.footer {
  // background-color: $background;
  background-color: whitesmoke;

  & #about {

  }

  & #copyright {

  }

  & .menu-list {

    & li {

    }

  }

  .is-pulled-right-desktop {
    @media screen and (min-width: $desktop) {
      float: right !important;
    }
  }

  &-scroll-up {
    border-radius: 50%;
    display: inline-block;

    & i {
      left: 50%;
      top: 50%;
    }
  }
}
