nav .navbar {
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}


.blackbox {
  background: #00171F;
  display: inline-block;
  box-shadow: 4px 4px 2px #777777;
  color: #FAFAFA;
  padding-left: .5em;
  padding-right: .5em;

  @media screen and (min-width: $tablet){
    padding-left: 1em;
    padding-right: 1em;
  }
}
