.services {
  background-color: $background;
}

.service-icon-container {
  // display: block;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;

  // margin-left: auto;
  // margin-right: auto;
  // padding: 13.5%;

  @media screen and (min-width: $tablet) {
    width: 150px;
    height: 150px;
  }

  background: $primary;
  // border: 1px solid black;
  border-radius: 50%;

  &:hover {
    background: $info;
  }

  & i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
