/*
 *
 * Contact Page
 *
 */

ul { list-style: none; }

a {
  text-decoration: none;

  color: #fff;
}

#content {
  // Positioning
  margin-bottom: 1em;

  // Box-model
  @include flexbox-display-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

  width: 100%;

  // Typographic
  font-size: 1em;

  // Visual
  //border: 1px dotted orange;

  & #left,
  & #right {
    //border: 1px solid green;
  }

  & #left {
    padding: 0 10px;

    //-webkit-box-flex: 2;
    //        -ms-flex: 2 0 0px;
    //            flex: 2 0 100px;
    max-width: 60%;
    flex: 2 0 60%;


    //border: 1px solid red;

    @media screen and (max-width: 900px) {
      min-width: 100%;
      flex: 2 0 100%;

      margin-bottom: 3em;
    }

    & #map {
      margin: {
        left: 0;
        right: 0;
      }

      & #goog-map-contain {
        //margin-top: auto;
        margin-bottom: .5em;

        @media screen and (max-width: 900px) {
          margin-bottom: 1em;
        }

        //border: 3px solid pink;
      }

      & #map-title {
        margin: {
          bottom: .5em;
          top: 0;
        }

        font: {
          size: 1.3em;
          weight: 500;
        }
        text-transform: uppercase;

        //border: 1px solid blue;

        @media screen and (max-width: 900px) {
          letter-spacing: 0.05em;
          font: {
            size: 1.5em;
            weight: 600;
          }
        }
      } // end of #map-title

    } // end of #map

  } // end of #left

  & #right {
    padding: 0 10px;
    -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
                flex: 1 0 0;


    & p { margin-bottom: 10px; }

    & form {
      margin-bottom: 1em;

      border-bottom: solid thin #8e9699;

      & input:last-of-type,
      & textarea:last-of-type {
        margin-bottom: 0;
      }

      & input[type="submit"],
      & textarea[type="submit"] {
        margin: {
          top: 1em;
          bottom: 2em;
        }
        text-transform: uppercase;

      }

      & input[type="email"],
      & input[type="text"],
      & #messages { color: #444; }

      & input[type="textarea"],
      & textarea[type="textarea"] {
        vertical-align: text-top;

        min-height: 75px;
      }
    } // end of #form
  } // end of #right

  & p.other {
    margin-bottom: 5px;

    font: {
      size: .8em;
      weight: 500;
    }
    line-height: 1.8;

    @media screen and (max-width: 900px) {
      font: {
        size: 1.2em;
        weight: 200;
      }
    }

    & a {
      color: #444;

      &:hover {
       color: $active;
      }
    }

  } // end of p.other

} // end of #content

#right-title {
  letter-spacing: 0.02em;
  font: {
    size: 1.3em;
    weight: 500;
  }
  text-transform: uppercase;

  @media screen and (max-width: 900px) {
    letter-spacing: 0.05em;
    font: {
      size: 1.5em;
      weight: 600;
    }
  }
}

.con-text,
#content #right form textarea {
  padding: 8px;
  margin-bottom: 8px;

  width: 100%;

  //color: #444;
}

#contact-other {
  letter-spacing: 0.01em;
  text-transform: uppercase !important;
  font: {
    size: 1.2em;
    weight: 500;
  }
  @media screen and (max-width: 900px) {
    letter-spacing: 0.03em;
    font: {
      size: 1.35em;
      weight: 600;
    }
  }
}

#gotcha {
  display: none;
}
