ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}

#content {
  font-size: 1em;
  @include flexbox-display-flex;
  flex-flow: row wrap;

  margin-bottom: 1em;
  //border: 1px dotted orange;

  & #left, & #right {
    //height: 100%;
    //border: 1px solid green;
  }

  & #left {
    //border: 1px solid red;

    padding: 0 10px;

    display: flex;
    flex-flow: column nowrap;
    -webkit-flex: 2 0 0;
            flex: 2 0 0;

    min-width: 66.66%;

    @media screen and (max-width: 900px) {
      min-width: 100%;
      margin-bottom: 1em;
    }

    & #map {
      margin: {
        left: 0;
        right: 0;
      }
      & #goog-map-contain {
        //border: 3px solid pink;
        //margin-top: auto;
        margin-bottom: .3em;
      }
      & #map-title {
        text-transform: uppercase;
        margin: {
          bottom: .5em;
          top: 0;
        }
        font: {
          size: 1.3em;
          weight: 500;
        }

        //border: 1px solid blue;
        @media screen and (max-width: 900px) {
          letter-spacing: 0.05em;
          font: {
            size: 1.5em;
            weight: 600;
          }
        }
      }

    }
  }

  & #right {
    //font-size: 0.75em;
    padding: 0 10px;

    -webkit-flex: 1 0 0;
            flex: 1 0 0;
    //-webkit-align-self: flex-end;
    //        align-self: flex-end;

    & p {
      margin-bottom: 10px;
    }

    & form {
      border-bottom: solid thin #8E9699;

      margin-bottom: 1em;

      & input:last-of-type,
      & textarea:last-of-type {
        margin-bottom: 0;
      }

      & input[type='submit'],
      & textarea[type='submit'] {
        text-transform: uppercase;

        margin: {
          top: 1em;
          bottom: 2em;
        }

      }

      & input[type='email'],
      & input[type='text'],
      & input[type='textarea'] {
        color: #444;
      }

      & input[type='textarea'],
      & textarea[type='textarea'] {
        min-height: 75px;
        vertical-align: text-top;
      }
    }
  }

  & p.other {
    font: {
      size: .8em;
      weight: 300;
    }
    line-height: 1.8;
    margin-bottom: 5px;
    //text-transform: lowercase;

    @media screen and (max-width: 900px) {
      font: {
        size: 1.2em;
        weight: 200;
      }
    }

    &,
    & a {
      color: #444;
    }
    & a:hover {
     color: #4495D4;
    }
  }

}

#right-title {
  letter-spacing: 0.02em;
  font: {
    size: 1.3em;
    weight: 500;
  }
  text-transform: uppercase;

  @media screen and (max-width: 900px) {
    letter-spacing: 0.05em;
    font: {
      size: 1.5em;
      weight: 600;
    }
  }
}

.con-text,
#content #right form textarea {
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  //color: #444;
}

#contact-other {
  letter-spacing: 0.01em;
  text-transform: uppercase !important;
  font: {
    size: 1.2em;
    weight: 500;
  }
  @media screen and (max-width: 900px) {
    letter-spacing: 0.03em;
    font: {
      size: 1.35em;
      weight: 600;
    }
  }
}
