/*
 *
 * 'Other' rules
 *
 */

/* Mobile*/
@media screen and (max-width: 781px) {
  .nav-desk-list { display: none; }

  h3,
  h4 { letter-spacing: 0.01em; }

  p { margin: 0 0 0.75em; }
}

/* Desktop*/
@media screen and (min-width: 782px) {
  .nav-toggle { display: none; }

  .mob-nav-head-list { display: none; }
}

main { display: inline-block; }

.content { text-align: left; }

hr.slender {
  border: 0;
  height: 1px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;

  background-image: -webkit-linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
  background-image:         linear-gradient(left,transparent,rgba(0,0,0,0.75),transparent);
}
