/*
 *
 * Index - Hero Carousel
 *
 */

.hero_carousel {
  margin-bottom: 40px;

  /*min-width: 100%;*/
  /*min-height: 100%;*/
  height: 350px;

  @media screen and (max-width: 500px) {
    height: 325px;
  }

  background: #1d1f20; /*url('https://i.imgur.com/R60qKwS.jpg');*/
  /*background-size: cover;*/


  & .flickity-viewport {
    position: absolute;
    width: 100%;
  }
}

.hero-carousel__cell {
  height: 100%;
  width: 100%;

  color: #fff;
  background: #efce36;
}
.hero-carousel__cell__content {
  position: relative;
  padding: 1.25em 3.75em 0;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    padding: 1.15em 2.75em 0;
  }
  @media screen and (max-width: 400px) {
    padding: 1em 1.5em 0;
  }

  & h1 {


    font: {
      //size: 6em;
      size: 3.2rem;
      weight: normal;
    }
    letter-spacing: -2px;
    line-height: 1.2;

    text-shadow: 4px 3px 0 #efce36, 9px 8px 0 rgba(0,0,0,0.15);
    color: #fff;

    @media screen and (max-width: 768px) {
      margin: 1em 0;
      letter-spacing: 1.5px;
      text-shadow: 1px 3px 0 #efce36, 4px 4px 0 rgba(0,0,0,0.15)
    }
    @media screen and (max-width: 450px) {
      letter-spacing: 2px;
    }

    @media screen and (min-width: 960px) {
      font-size: 7.8rem;
    }
    @media screen and (min-width: 768px) {
      font-size: 5.8rem;
    }

  }
}

.hero-carousel__cell--1 {
  height: 100%;

  background: #efce36;
}
.hero-carousel__cell--2 {
  height: 100%;

  background: #88cc88;
  background: url($baseurl + '/assets/img/trucks/blue_2.JPG') no-repeat center center; /*fixed;*/
  background-size: cover;
}
.hero-carousel__cell--3 {
  height: 100%;

  background: #ee9900;
  background: url($baseurl + '/assets/img/trucks/white_1.JPG') no-repeat center center; /*fixed;*/
  background-size: cover;
}
.hero-carousel__cell--4 {
  height: 100%;

  background: #ee55aa;
  background: url($baseurl + '/assets/img/trucks/red_1.JPG') no-repeat center center; /*fixed;*/
  background-size: cover;
}

.hero-illustration {
  position: absolute;
  margin: 0 auto;
  right: 60px;

  display: block;
  max-width: 100%;

  height: auto;

  /*border: 1px solid red;*/
  /*border-radius: 200px;*/

  @media screen and (min-width: 1201px) {
    top: 130px;
    /*left: 00px;*/
    left: 750px;
    right: 0;
    max-width: 300px;
  }
  @media screen and (max-width: 1200px) {
    top: 150px;
    right: 0px;
    left: 500px;

    max-width: 275px;
    /*max-width: 400px;*/
  }
  @media screen and (max-width: 1000px) {
    left: 400px;
    top: 130px;

    max-width: 250px;
  }
  @media screen and (max-width: 900px) {
    top: 50px;
    /*left: 350px;*/
    left: 500px;
    right: 5px;

    max-width: 200px;
  }
  @media screen and (max-width: 750px) {
    top: 50px;
    left: 400px;

    max-width: 150px;
  }
  @media screen and (max-width: 500px) {
    top: 40px;

    max-width: 100px;
  }
  @media screen and (max-width: 450px) {
    top: 130px;
    max-width: 100px;
  }
}
