/*
 *
 * Typography
 *
 */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}

/* Body Text
**************/
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 700;

  margin-bottom: .2496em;
  //font-size: 1.414em;
  line-height: 1.24802;
}

h3,
h4,
#services-list,
.bod-text {

  @media screen and (max-width: 559px) {
    margin: {
      left: .3em !important;
      right: .3em !important;
    }
  }
}

.llc { font-size: .7em; }

h2 {
  margin-bottom: emRhythm(1, $ms-down1);
}

h4 {
  margin-bottom: emRhythm(2, $ms-down1);
}

.bod-text {
  margin: {
    top: 0;
    bottom: 1.76471em;
  }
  padding: {
    top: 0;
    bottom: 0;
  }
}

#services-wrapper {
  &:after {
    content: ' ';
    display: block;
    border-color: lighten(#000, 80%);
    border-bottom-style: solid;
    margin-bottom: emRhythm(8);
    height: 0;
    @include rhythmBorderBottom(1px, 4);
  }
}

#about-img {
  &:after {
    content: ' ';
    display: block;
    border-color: lighten(#000, 80%);
    border-bottom-style: solid;
    margin-bottom: emRhythm(4);
    height: 0;
    @include rhythmBorderBottom(1px, 4);
  }
}
