/*
 *
 * Mixins
 *
 */

@mixin flexbox-display-flex {
  display: -webkit-box;
  display:    -moz-box;
  display: -webkit-flex;
  display:     -ms-flexbox;
  display:         flex;
}

@mixin flexbox-display-inline-flex {
  display: -webkit-inline-box;
  display:    -moz-inline-box;
  display: -webkit-inline-flex;
  display:     -ms-inline-flexbox;
  display:         inline-flex;
}

@mixin flexbox-direction-column {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@mixin flexbox-direction-row {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@mixin flexbox-align-end {
  -ms-flex-item-align: end;
                align-self: flex-end;
}

@mixin flexbox-align-start {
  -ms-flex-item-align: start;
                align-self: flex-start;
}

@mixin flexbox-row-nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

@mixin flexbox-invisible {
  -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
}

@mixin box-shadow {
  -webkit-box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  -moz-box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
}

@mixin foot-box-shadow {
  -webkit-box-shadow:
    0 -2px 2px 0 rgba(0,0,0,0.14),
    0 -1px 5px 0 rgba(0,0,0,0.12),
    0 -3px 1px -2px rgba(0,0,0,0.2);
  -moz-box-shadow:
    0 -2px 2px 0 rgba(0,0,0,0.14),
    0 -1px 5px 0 rgba(0,0,0,0.12),
    0 -3px 1px -2px rgba(0,0,0,0.2);
  box-shadow:
    0 -2px 2px 0 rgba(0,0,0,0.14),
    0 -1px 5px 0 rgba(0,0,0,0.12),
    0 -3px 1px -2px rgba(0,0,0,0.2);
}
