// *
// * 'Other' rules
// *

// Desktop
@media screen and (min-width: 993px) {
  .hamburger, .hamburger-wrapper {
    display: none;
  }
}

main {
  display: inline-block;
}

.content {
  text-align: left;
}
