.active a { color: rgb(77, 167, 224) !important; }
.active { color: rgb(77, 167, 224); }
/***************************************
*********       DESKTOP    *************
***************************************/
/**
 * Desktop | Navbar
 */
.nav-desk {
  display: block;
  width: 100%;
  height: 5; /* 6.5rem */
  z-index: 99;
  border-bottom: 2px solid #222;
  margin-bottom: 2em;
}
.nav-desk-list {
  list-style-type: none;
  margin-bottom: 0;
}
.nav-desk-title {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-left: 1rem;

  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
.nav-desk-title-sub {
  font-size: .8em;
  font-weight: 600;
  margin-left: .5rem;
  line-height: 6.7rem;
}
.nav-desk-item {
  position: relative;
  float: right;
  margin-bottom: 0;
}
.nav-desk-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-right: 2.19em; /* 35px */
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
/*** end of Desktop | Navbar styles ***/

/***************************************
*********       MOBILE     *************
***************************************/
/*
 * Mobile Slideout Nav
 */
.menu {
  /*display: block;*/
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}
.menu-list {
  /*display: block;*/
  margin: 25px 0;
  list-style: none;
}
.menu-list li {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}
/*.ic-menu-left { border: 1px solid yellow; text-align: left;}*/
/*.ic-menu-right { border: 1px solid red; text-align: right;} */
.menu-invisible { visibility: hidden; flex-grow: 1; }
/*
.menu-title {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.19em !important;
  padding: 0 0 2rem 0;
  margin: 0;
}
.menu-title-sub {
  font-size: .7em !important;
  font-weight: 500;
  padding-left: .5em !important;
} */

.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 2em;
  line-height: 1;
  /*padding-left: 1em !important;*/
  flex: 1 0 0;
  /*border: 1px solid orange;*/
  margin-left: .8em;
  text-align: left;
}
.menu a { /*padding: 0 0 0 .5rem;*/ color: #FFF; }
.menu i { color: #FFF; }
.menu li.active i { color: rgb(77, 167, 224); }

/*
.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}
.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
*/
/*** end of Mobile | Side Menu styles ***/

/* mobile nav bar */
.mob-nav-head-list {
  list-style: none;

  width: 100%;

  display: -webkit-flex;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #f7f7f9;
  border-bottom: 1px solid #222;
  border-color: rgba(0,0,0,.1);
  box-sizing: border-box;

  padding: 1em .5em;
  margin-bottom: 1em !important;
}
.mob-nav-head-list li { margin-bottom: 0; }
.mob-nav-title {
  font-weight: 800;
  font-size: 2.1em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  margin: auto;
}
.mob-nav-title-sub {
  font-size: 1em;
  font-weight: 500;
  padding-left: .1em;
}
.mob-nav-invisible { flex: 0 1 auto; visibility: hidden; }

/* hamburger */
.toggle-float { float: left; }
.hamburger {
  font-size: 2.1em;
  /*display: inline-block;*/
  align-self: flex-start;
  margin: auto;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  border: 0 none;
  background: transparent;
}

.hamburger:before,
.hamburger:after { content: ""; }

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;
  width: 100%;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  border-radius: .05em;
  background: #596c7d;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: #2c3e50;
}
/* Button height fix for Firefox */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
/* Focus fix for Chrome */
.hamburger:focus { outline: 0; }
/* CLOSE/CANCEL/CROSS */
.hamburger.hamburger-cancel.active .icon { transform: scale(0); color: black; }
.hamburger.hamburger-cancel.active:before { transform: translateY(.4em) rotate(135deg); }
.hamburger.hamburger-cancel.active:after { transform: translateY(-.4em) rotate(-135deg); }

@media screen and (max-width: 781px) {
  .mob-nav-title { font-size: 2.2em; }
  .mob-nav-title-sub { font-size: 1.3em;}
  .hamburger { font-size: 2.2em; }
}
@media screen and (max-width: 750px) {
  .mob-nav-title { font-size: 2.1em; }
  .mob-nav-title-sub { font-size: 1.2em;}
  .hamburger { font-size 2.1em; }
}
@media screen and (max-width: 550px) {
  .mob-nav-title {
    font-size: 1.9em;
    letter-spacing: .13em;
  }
  .mob-nav-title-sub { font-size: 1.1em;}
  .hamburger { font-size: 1.9em; }
}
@media screen and (max-width: 400px) {
  .mob-nav-title { font-size: 1.6em; }
  .mob-nav-title-sub { font-size: 1em;}
}
@media screen and (max-width: 350px) {
  .mob-nav-title { font-size: 1.5em; }
  .mob-nav-title-sub { font-size: .8em;}
  .hamburger { font-size: 1.5em; }
}
@media screen and (max-width: 275px) {
  .mob-nav-title { font-size: 1.3em; }
  .mob-nav-title-sub { font-size: .6em;}
  .hamburger { font-size: 1.3em; }
}

.nav-desk-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav-desk-link:hover {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-desk-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3296b5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-desk-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
