.active a { color: rgb(77, 167, 224) !important; }
.active { color: rgb(77, 167, 224); }
/***************************************
*********       DESKTOP    *************
***************************************/
/**
 * Desktop | Navbar
 */
.nav-desk {
  display: block;
  width: 100%;
  height: 5; /* 6.5rem */
  z-index: 99;
  border-bottom: 2px solid #222;
}
.nav-desk-list {
  list-style-type: none;
  margin-bottom: 0;
}
.nav-desk-title {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-left: 1rem;

  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
.nav-desk-item {
  position: relative;
  float: right;
  margin-bottom: 0;
}
.nav-desk-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-right: 2.19em; /* 35px */
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

/***************************************
*********       MOBILE     *************
***************************************/
/*
 * Mobile Slideout Nav
 */
.menu {
  display: block;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}
.menu-list {
  display: block;
  margin: 25px 0;
  list-style: none;
  text-align: left;
}
.menu-title {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.19em !important;
  padding: 0 0 2rem 0;
  margin: 0;
}
.menu-item {

}
.menu-link {

}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  padding: 0 0 0 1rem;
}
.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}
.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}



/* mobile nav bar */
.mob-nav-head-list {
  list-style: none;

  width: 100%;

  display: -webkit-flex;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #f7f7f9;
  border-bottom: 1px solid #222;
  border-color: rgba(0,0,0,.1);
  box-sizing: border-box;

  padding: 1em .5em;
  margin-bottom: 1rem !important;
}
.mob-nav-head-list li {
  margin-bottom: 0;
}
.mob-nav-title {

  font-weight: 800;
  font-size: 2.1em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;

  margin: auto;

}
.mob-nav-invisible {
  flex: 0 1 auto;
  visibility: hidden;
}

/* hamburger */
.toggle-float {
  float: left;
}
.hamburger {
  font-size: 2.1em;
  /*display: inline-block;*/
  align-self: flex-start;

  margin: auto;

  width: 1em;
  height: 1em;
  padding: 0;

  cursor: pointer;
  transition: transform .2s ease-in-out;
  /*border: 0 none;*/
  background: transparent;
}

.hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;

  width: 100%;
  height: .2em;
  margin: 0 0 .2em;

  transition: transform .2s ease-in-out;

  border-radius: .05em;
  background: #596c7d;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: #2c3e50;
}
/* Button height fix for Firefox */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
/* Focus fix for Chrome */
.hamburger:focus { outline: 0; }
/* CLOSE/CANCEL/CROSS */
.hamburger.hamburger-cancel.active .icon { transform: scale(0); color: black; }
.hamburger.hamburger-cancel.active:before { transform: translateY(.4em) rotate(135deg); }
.hamburger.hamburger-cancel.active:after { transform: translateY(-.4em) rotate(-135deg); }

@media screen and (max-width: 781px) {
  .mob-nav-title { font-size: 2.2em; }
  .hamburger { font-size: 2.2em; }
}
@media screen and (max-width: 750px) {
  .mob-nav-title { font-size: 2.1em; }
  .hamburger { font-size 2.1em; }
}
@media screen and (max-width: 550px) {
  .mob-nav-title {
    font-size: 1.9em;
    letter-spacing: .13em;
  }
  .hamburger { font-size: 1.9em; }
}

@media screen and (max-width: 350px) {
  .mob-nav-title { font-size: 1.5em; }
  .hamburger { font-size: 1.5em; }
}
@media screen and (max-width: 275px) {
  .mob-nav-title { font-size: 1.3em; }
  .hamburger { font-size: 1.3em; }
}
