.active a { color: #4495d4 !important; }
.active { color: #4495d4; }
/***************************************
*********       DESKTOP    *************
***************************************/
/**
 * Desktop | Navbar
 */
.nav-desk-list {
  background-color: #FAFAFA !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  list-style: none;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}
.nav-desk-left {
  align-self: flex-start;
  margin: 0;
}
.nav-desk-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: .2rem;
  color: #111;
}
.nav-desk-title-sub {
  font-size: .7em;
  font-weight: 600;
  letter-spacing: normal;
  margin-left: .5em;
  /*transform: rotate(-90deg);*/
}
.nav-desk-invisible {
  flex: 1;
  visibility: hidden;
  margin-bottom: 0; }

.nav-desk-item {
  align-self: flex-end;
  margin: 0; }

.nav-desk-link {
  color: #222;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .2rem;

  margin-right: 2.19em;
  margin-bottom: 0;
  margin-top: 0;

  position: relative;
}

.nav-desk-link:hover {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-desk-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4495d4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-desk-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*** end of Desktop | Navbar styles ***/

/***************************************
*********       MOBILE     *************
***************************************/
/*
 * Mobile Slideout Nav
 */
.menu {
  /*display: block;*/
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}
.menu-list {
  /*display: block;*/
  margin: 25px 0;
  list-style: none;
}
.menu-list li {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.menu-invisible { visibility: hidden; flex-grow: 1; }
/*
.menu-title {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.19em !important;
  padding: 0 0 2rem 0;
  margin: 0;
}
.menu-title-sub {
  font-size: .7em !important;
  font-weight: 500;
  padding-left: .5em !important;
} */

.menu-link {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 2em;

  letter-spacing: .1rem;
  line-height: 1;

  flex: 1 0 0;
  margin-left: .8em;

}
.menu a { color: #FFF; line-height: 3;}
.menu i { color: #FFF; }
.menu li.active i { color: #4495d4; }

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}
.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
/*** end of Mobile | Side Menu styles ***/

/* mobile nav bar */
.mob-nav-head-list {
  list-style: none;
  width: 100%;
  display: -webkit-flex;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  -moz-box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 1em .5em;
  margin-bottom: 1em !important;
}
.mob-nav-head-list li { margin-bottom: 0; }
.mob-nav-title {
  font-weight: 800;
  font-size: 2.1em;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  margin: auto;
}
.mob-nav-title-sub {
  font-size: 1em;
  font-weight: 500;
  padding-left: .1em;
}
.mob-nav-invisible {
  flex: 0 1 auto; visibility: hidden; }

/* hamburger */
.toggle-float {
  float: left; padding-left: 10px;}

  .toggle-float:hover {
    -moz-transition: none .3s ease-in-out 0s;
    -o-transition: none .3s ease-in-out 0s;
    -webkit-transition: none .3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: none .3s ease-in-out 0s;
    color: white;
    background-color: #555;
    padding: 0.31em;
    border-radius: 4px;
  }

.hamburger {
  font-size: 2.1em;
  /*display: inline-block;*/
  align-self: flex-start;
  margin: auto;
  padding: 0;
  width: 1em;
  height: 1em;

  cursor: pointer;
  transition: transform .2s ease-in-out;
  border: 0 none;
  background: transparent;
}

.hamburger:before,
.hamburger:after { content: ""; }

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;
  width: 100%;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  border-radius: .05em;
  background: #A5A5A5;
}

.hamburger:hover:before,
.hamburger:hover .icon,
.hamburger:hover:after {
  background: white;
}
/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: #474747;
}
/* Button height fix for Firefox */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
/* Focus fix for Chrome */
.hamburger:focus { outline: 0; }
/* CLOSE/CANCEL/CROSS */
.hamburger.hamburger-cancel.active .icon {  transform: scale(0);
   color: black;
 }
.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}
.hamburger.hamburger-cancel.active:after {  transform: translateY(-.4em) rotate(-135deg);
}

@media screen and (max-width: 781px) {
  .mob-nav-title { font-size: 2.2em; }
  .mob-nav-title-sub { font-size: .9em; }
  .hamburger { font-size: 1.9em; }
}
@media screen and (max-width: 750px) {
  .mob-nav-title { font-size: 2.1em; }
  .mob-nav-title-sub { font-size: .8em; }
  .hamburger { font-size: 1.7em; }
}
@media screen and (max-width: 550px) {
  .mob-nav-title { font-size: 1.9em; letter-spacing: .13em; }
  .mob-nav-title-sub { font-size: .7em;}
  .hamburger { font-size: 1.5em; }
}
@media screen and (max-width: 400px) {
  .mob-nav-title { font-size: 1.6em; }
  .mob-nav-title-sub { font-size: .6em; }
  .hamburger { font-size: 1.3em; }
}
@media screen and (max-width: 350px) {
  .mob-nav-title { font-size: 1.5em; }
  .mob-nav-title-sub { font-size: .5em;}
  .hamburger { font-size: 1.1em; }
}
@media screen and (max-width: 275px) {
  .mob-nav-title { font-size: 1.3em; }
  .mob-nav-title-sub { font-size: .4em;}
  .hamburger { font-size: 1em; }
  .toggle-float { padding-left: 5px;}
}
