/*
 * Resets
 */
* { margin: 0; }
*, *:before, *:after { box-sizing: border-box; }


/*
 * Media Queries
 */
@media screen and (max-width: 781px) { /* mobile */
  .nav-desk { display: none; /* hide desktop nav on mobile */ }
  h1, h2, h3, h4 { letter-spacing: 0.01em !important; }
  p { margin: 0 0 0.75em; }
}

@media screen and (min-width: 782px) { /* desktop */
  .nav-toggle { display: none !important; /* hide mobile nav on desktop */ }
  .mob-nav-head-list { display: none !important; }
}

@media screen and (max-width: 960px) { .nav-desk-link { font-size: 1.2rem; } }
@media screen and (max-width: 860px) { .nav-desk-link { font-size: 1.1rem; } }
@media screen and (max-width: 840px) { .nav-desk-link { font-size: .9rem; } }

main { display: inline-block !important; }
.content { text-align: left !important; }
