
/*
 * Media Queries
 */
@media screen and (max-width: 781px) { /* mobile */
  .nav-desk { display: none; /* hide desktop nav on mobile */ }
  h1, h2, h3, h4 { letter-spacing: 0.01em !important; }
  p { margin: 0 0 0.75em; }
}

@media screen and (min-width: 782px) { /* desktop */
  .nav-toggle { display: none !important; /* hide mobile nav on desktop */ }
  .mob-nav-head-list { display: none !important; }
}

main { display: inline-block !important; }
.content { text-align: left !important; }

.page_wrapper { margin-top: 2em; }

@media screen and (max-width: 550px) {
  .page_wrapper { margin-top: 1.2em; }
}
@media screen and (max-width: 450px) {
  .page_wrapper { margin-top: 1em; }
}
@media screen and (max-width: 350px) {
  .page_wrapper { margin-top: .5em; }
}
