html {
  text-rendering: optimizeLegibility;
          font-feature-settings: "liga", "kern";
  -webkit-font-feature-settings: "liga", "kern";
  text-rendering: optimizeLegibility;
}
/*
 * Body Text
 */
body {
  font-size: 16px;
  line-height: 1.5em; /* 24px */
  margin: 0;
  padding: 0;
}
h3, h4, .services_list, .bod_text {
  margin: 0;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}
h3 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.0em;
  letter-spacing: .05em;
  margin-top: 0; margin-bottom: 1.0000em;
}
h4 {
	margin: 0;
	font-size: 1.250em;
	line-height: 1.20em;
	margin-top: 0; margin-bottom: 1.20em;
  letter-spacing: .125em;
}
.services_list {
  font-size: 1.1250em; line-height: 1.33em; margin-top: 1.33em; margin-bottom: 1.33em;
}
.services_list li { list-style: none; }
h3, h4 {
  /*line-height: 1.3;*/
  /*padding-top: 1em;
  padding-bottom: .5em;*/
}
@media screen and (max-width: 559px) {
  h3, h4 {
    /*padding-top: .5em;*/
  }
  .mob-nav-head { margin-bottom: 0 !important;}
}
.bod_text {
  font-size: 1em;
  line-height: 1.50em;
  letter-spacing: 0.075em;
  padding: .5em .5em;
  margin: 0 0 1.5000em 0;
}
.services_list ul li {
  margin: 0 1em;
}
