
body {
  background-color: $background;
  color: $text;
  font-family: $body-text;
}

a {
  color: $link;
}

h1, h2, h3, h4, h5, h6, .navbar-item, .button, .service-hero .title {
  font-family: $headings-text;
}

.title {
  color: $text-title !important;
}

.content .subtitle, .box .subtitle, .label, .navbar-item {
  color: $text-subtitle !important;
}


.is-primary, .service-icon-container {
  background-color: $warning !important;
  color: #fff;
}


::selection {
  background-color: $link-hover;
}
