// Global Body
$background: #f7f7f7;
$background-accent: #5d737e;

$text: #4c4c4c;

// $link: #1eaedb;
$link: #64b6ac;
// $link-hover: #0fa0ce;
$link-hover: #c0fdfb;
$link-hover--underline: $link;


.is-size-5-5 {
  font-size: 1.15rem;
}

// $truck-blue: #4a5e7f;


// $background: #f7f7f7;
// $text: #4c4c4c;
//
// $accent: #5d737e;
//
// $link: #64b6ac;
// $link-a: #c0fdfb;
