
.notfound {
  &-wrapper {

  }

  &-item {
    letter-spacing: .1px;
  }

  &-primary {
    font-size: 5em;
    font-weight: bolder;
  }

  &-secondary {
    font-size: 2em;
    font-weight: bold;
  }

  &-link {
    font-size: 2em;
  }
}
