---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/contact_head.html %}

<body class="{{ page.nav-class }}">

  <div class="page">

    <header>
      {% include nav.html %}
    </header>

    <main class="content panel" id="panel">

      {% include mobile_nav_head.html %}
      <div class="page_wrapper mob-margin">
        <div class="container">
          <div class="row">
            <div class="one columns"></div>
            <div class="ten columns content">
              {{ content }}
            </div>
            <div class="one columns"></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </div>

  {% include scripts.html %}

</body>
</html>
