---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/contact_head.html %}

<body class="{{ page.nav-class }}">

  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  
  <div class="page">

    {% include nav/nav_mob.html %}

    <main class="content panel" id="panel">

      <header>
        {% include nav/nav_desk.html %}
      </header>

      <div class="page_wrapper mob-margin">
        <div class="container">
          <div class="row">
            <div class="twelve columns content">
              {{ content }}
            </div>
        </div>
        </div>
      </div>
    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </div>

  {% include scripts/scripts.html %}

</body>
</html>
