---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/head.html %}

<body class="{{ page.nav-class }}">

  <div class="page">

    {% include nav_mob.html %}

    <main class="content panel" id="panel">

      <header>
        {% include nav_new.html %}
      </header>

      <div class="page_wrapper mob-margin">

        <div class="container">
          <div class="row">
            <div class="one columns"></div>
            <div class="ten columns content">
              {{ content }}
            </div>
            <div class="one columns"></div>
          </div>
        </div>
      </div>

    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </div>

  {% include scripts.html %}

</body>
</html>
