
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  <div class="page">

    <header>{% include nav.html %}</header>

    <main class="content" id="panel">

      <button class="toggle-button hamburger hamburger--slider u-pull-right" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div class="container">
        <div class="row">
          <div class="two columns"></div>
          <div class="eight columns">
            {{ content }}
          </div>
          <div class="two columns"></div>
        </div>
      </div>
    </main>

    <footer>{% include footer.html %}</footer>

  </div>

  {% include scripts.html %}

</body>
</html>
