
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="{{ page.nav-class }}">

  <div class="page">

    <header>{% include nav.html %}</header>

    <main class="content" id="panel">

      <div class="mob-nav-head">
        <div class="container">
          <ul class="mob-nav-head-list">
            <li class="mob-nav-head-item">
              <!--<button class="nav-toggle toggle-button" aria-controls="toggle-button" aira-expanded="false" aria-label="Toggle navigation"></button>-->
              <div class="toggle-float">
                <div class="ham-menu toggle-button">
                  <span class="menu-global menu-top"></span>
                  <span class="menu-global menu-middle"></span>
                  <span class="menu-global menu-bottom"></span>
                </div>
              </div>
            </li>
            <li class="mob-nav-head-item">
              <a class="mob-nav-title">Raja Trucking</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content_wrapper">
        <div class="container">
          <div class="row">
            <div class="two columns"></div>
            <div class="eight columns content">
              {{ content }}
            </div>
            <div class="two columns"></div>
          </div>
        </div>
      </div>  
    </main>

    <footer>{% include footer.html %}</footer>

  </div>

  {% include scripts.html %}

</body>
</html>
