---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/head-home.html %}

<body class="{{ page.nav-class }}">

  {% include components/outdated-browser.html %}

  <div class="page">

    {% include components/nav/nav-mobile.html %}

    <main class="content panel" id="panel">

      <header>
        {% include components/nav/nav-desktop.html %}
      </header>

      <div class="page_wrapper">

        <div class="hero_carousel" data-flickity='{ "imagesLoaded": true, "selectedAttraction": 0.01, "friction": 0.15, "prevNextButtons": false, "setGallerySize": false, "resize": false, "wrapAround": true, "dragThreshold": 10, "bgLazyLoad": true }' data-slideout-ignore>

          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/blue_2_gradient_60.jpg">

              <div class="hero-carousel__cell__content">
                <h1>Welcome to <br />Raja Trucking</h1>
              </div>

          </div>

          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/white_1.JPG"></div>
          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/red_1.JPG"></div>
        </div>

        <div class="two columns"></div>
        <div class="eight columns content">
          {{ content }}
        </div>
        <div class="two columns"></div>

      </div>
    </main>

    <footer>
      {% include components/footer.html %}
    </footer>

  </div>

  {% include scripts/scripts.html %}

</body>
</html>
