---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include /head/home_head.html %}

<body class="{{ page.nav-class }}">

  <div class="page">

    <header>
      {% include nav.html %}
    </header>

    <main class="content panel" id="panel">

      {% include mobile_nav_head.html %}
      <div class="page_wrapper">

        <div class="hero_carousel" data-flickity='{ "imagesLoaded": true, "selectedAttraction": 0.01, "friction": 0.15, "prevNextButtons": false, "setGallerySize": false, "resize": false, "wrapAround": true, "autoPlay": 3500 }' >
          <div class="hero-carousel__cell hero-carousel__cell--1">
            <div class="hero-carousel__cell__content">
              <h1>Welcome to <br />Raja Trucking<!--<span class="llc">, LLC.</span>--></h1>
              <h3>Subtitle text here...</h3>
              <img class="hero-illustration" src="{{site.baseurl}}/assets/img/raja-favicon-transbg_vector.svg" />
            </div>
          </div>
          <div class="hero-carousel__cell hero-carousel__cell--2">
            <div class="hero-carousel__cell__content">

            </div>
          </div>
          <div class="hero-carousel__cell hero-carousel__cell--3">
            <div class="hero-carousel__cell__content">

            </div>
          </div>
          <div class="hero-carousel__cell hero-carousel__cell--4">
            <div class="hero-carousel__cell__content">

            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="one columns"></div>
            <div class="ten columns content">
              {{ content }}
            </div>
            <div class="one columns"></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </div>

  {% include home_scripts.html %}

</body>
</html>
