---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include /head/home_head.html %}

<body class="{{ page.nav-class }}">

  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="page">

    {% include nav/nav_mob.html %}

    <main class="content panel" id="panel">

      <header>
        {% include nav/nav_desk.html %}
      </header>

      <div class="page_wrapper">

        <div class="hero_carousel" data-flickity='{ "imagesLoaded": true, "selectedAttraction": 0.01, "friction": 0.15, "prevNextButtons": false, "setGallerySize": false, "resize": false, "wrapAround": true, "dragThreshold": 10, "bgLazyLoad": true }' data-slideout-ignore>

          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/blue_2_gradient_60.JPG">

              <div class="hero-carousel__cell__content">
                <h1>Welcome to <br />Raja Trucking</h1>
              </div>

          </div>

          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/white_1.JPG"></div>
          <div class="carousel-cell" data-flickity-bg-lazyload="/assets/img/trucks/red_1.JPG"></div>
        </div>

        <div class="two columns"></div>
        <div class="eight columns content">
          {{ content }}
        </div>
        <div class="two columns"></div>

      </div>
    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </div>

  {% include scripts/home_scripts.html %}

</body>
</html>
