
header, nav { display: block; }

.mob-margin {
  margin-top: 2em;

  @media screen and (max-width: 992px) {
    margin-top: 1em;
  }
}

nav {
  width: 100%;
	//min-height: 56px;
  min-height: 72px;

  padding: 0 .5em;
  //padding-top: .5em;

  @media screen and (max-width: 992px) {
    padding-top: 0;
  }

  //line-height: 56px;
  line-height: 72px;

  color: #222;
  background-color: #fafafa;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);


  & ul {
    margin: 0;

    & li {
      float: left;

      padding: 0;

      -webkit-transition: background-color .3s;
              transition: background-color .3s;
    }

    & a {
      //display: block;

      //padding: 0 15px;
      margin-right: 1em;

      font: {
        //size: 1.3em;
        size: 1.6em;
        weight: 500;
      }
      text-decoration: none;
      letter-spacing: .5px;

      color: #222;

      -webkit-transition: background-color .3s;
              transition: background-color .3s;
      cursor: pointer;

      &.active {
        color: $active !important;
      }
    }
  }

  & .button-collapse {
  	float: right;
  	position: relative;
  	z-index: 1;
  	//height: 56px;
    height: 72px;
  	margin: 0 18px;

    & i {
      //height: 56px;
      height: 72px;

      //line-height: 56px;
      line-height: 72px;

      color: #111;

      &:hover {
        color: #4495d4;
      }
    }
  }

  & .brand-logo {
  	display: inline-block;
    position: absolute;

  	padding: 0;

  	font: {
      size: 2em;
      weight: 500;
    }
    letter-spacing: 1px;

  	color: #111;

  	white-space: nowrap;

    @media only screen and (max-width: 992px ) {
      left: 50%;
      //left: calc(50% - 16px/2);

      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }

    &.left {
      @media only screen and (min-width: 992px) {
        left: 0.5rem;

        padding: 0;

        -webkit-transform: none;
                transform: none;
      }
    }
  }
}

nav .brand-logo img {
  //height: 56px;
  height: 72px;
}

// #brand-logo-wrapper {
//   width: 100%;
// }

//  .brand-logo {
//    height: 72px;
//    width: 100%;

//    background: url($baseurl + '/assets/img/word_logo_black_40_white.svg');
//    background-repeat: no-repeat;
//    background-size: contain;

//    &:hover {
//      background: url($baseurl + '/assets/img/word_logo_blue_40_white.svg');
//      background-repeat: no-repeat;
//      background-size: contain;

//    }
//  }

.nav-wrapper {
  position: relative;
  height: 100%;
}


@media only screen and (min-width: 993px) {
	nav a.button-collapse { display: none; }

  .side-nav { display: none !important; }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down { display: none !important; }
}

.right { float: right !important; }
