.mob-margin { margin-top: 1.5em; }

/* Slideout menu
****************/

.menu {
  background-color: $mob-nav-menu;
  background-image: linear-gradient(145deg, $mob-nav-menu, #404348);

  a {
    line-height: 3;

    color: $mob-menu-a;
  }

  i { color: $mob-menu-i; }

  li.active i { color: $active; }
}

.menu-list {
  margin: 25px 0;

  list-style: none;

  li {
    @include flexbox-display-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;

    &.active {
      //background: white;
      a.menu-link { color: $active; }
    }
  }
}

.menu-invisible {
  flex-grow: 1;

  visibility: hidden;
}

.menu-link {
  margin-left: .8em;

  flex: 1 0 0;

  text: {
    align: left;
    decoration: none;
    transform: uppercase;
  }
  font-size: 2em;
  letter-spacing: .1rem;
  line-height: 1;
}
.panel:before {
  display: block;

  background-color: $mob-panel_before-bg;

  content: '';
  transition: background-color 0.5s ease-in-out;
}
.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;

  width: 100%;

  background-color: $mob-panel-open_before-bg;
}

/* Mob. Nav Bar
**************/

.mob-nav-head-list {
  padding: 1em .5em;
  margin-bottom: 1em;

  @include flexbox-display-inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background-color: $mob-nav-head-bg;
  @include box-shadow;
  box-sizing: border-box;

  list-style: none;

  li { margin-bottom: 0; }
}

.mob-nav-title {
  margin: auto;

  font: {
    size: 2.1em;
    weight: 800;
  }
  text: {
    decoration: none;
    transform: uppercase;
  }
  letter-spacing: .15em;

  color: $mob-nav-title;

  &-sub {
    padding-left: .1em;
    font: {
      size: 1em;
      weight: 500;
    }
  }

}

.mob-nav-invisible {
  flex: 0 1 auto;

  visibility: hidden;
}

// Hamburger
.toggle-float {
  float: left;
  padding-left: 10px;
}

.hamburger {
  margin: auto;
  padding: 0;

  // display: inline-block;
  align-self: flex-start;
  width: 1em;
  height: 1em;

  font-size: 2.1em;

  border: 0 none;
  background: transparent;

  cursor: pointer;
  transition: transform .2s ease-in-out;

  &:before,
  &:after { content: ""; }

  &:before,
  & .icon,
  &:after {
    margin: 0 0 .2em;

    display: block;
    width: 100%;
    height: .2em;

    border-radius: .05em;
    background: $hamburger_after;

    transition: transform .2s ease-in-out;
  }

  &:hover:before,
  &:hover .icon,
  &:hover:after { background: $toggle-float_hover; }

  //styles for the active `.hamburger` icon
  &.active:before,
  &.active .icon,
  &.active:after { background: $hamburger-active-bg; }

  // Button height fix for Firefox
  &::-moz-focus-inner {
    padding: 0;

    border: 0 none;
  }

  // Focus fix for Chrome
  &:focus { outline: 0; }

  // CLOSE/CANCEL/CROSS
  &.hambuger-cancel.active .icon {
    color: $hamburger-cancel-x;

    transform: scale(0);
  }
  &.hambuger-cancel.active:before { transform: translateY(.4em) rotate(135deg); }
  &.hambuger-cancel.active:after { transform: translateY(.4em) rotate(135deg); }
}


@media screen and (max-width: 781px) {
  .mob-nav-title { font-size: 2.2em; }
  .mob-nav-title-sub { font-size: .9em; }
  .hamburger { font-size: 1.9em; }
}
@media screen and (max-width: 750px) {
  .mob-nav-title { font-size: 2.1em; }
  .mob-nav-title-sub { font-size: .8em; }
  .hamburger { font-size: 1.7em; }
}
@media screen and (max-width: 550px) {
  .mob-nav-title {
    font-size: 1.9em;
    letter-spacing: .13em;
  }
  .mob-nav-title-sub { font-size: .7em; }
  .hamburger { font-size: 1.5em; }
}
@media screen and (max-width: 400px) {
  .mob-nav-title { font-size: 1.6em; }
  .mob-nav-title-sub { font-size: .6em; }
  .hamburger { font-size: 1.3em; }
}
@media screen and (max-width: 350px) {
  .mob-nav-title { font-size: 1.5em; }
  .mob-nav-title-sub { font-size: .5em; }
  .hamburger { font-size: 1.1em; }
}
@media screen and (max-width: 275px) {
  .mob-nav-title { font-size: 1.3em; }
  .mob-nav-title-sub { font-size: .4em; }
  .hamburger { font-size: 1em; }
  .toggle-float { padding-left: 5px; }
}
